<footer>
  <div class="parent">
    <p class="mail">howell2028@gmail.com</p>
    <div class="child">
      <ul>
        <li>
          <a href="https://www.github.com/CalistusObeke01">
            <i class="fa fa-github" 
              aria-hidden="true">
            </i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/Calistus-pius">
            <i class="fa fa-linkedin" 
            aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/howell2028">
            <i class="fa fa-twitter" 
            aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
