<section class="about-me">
  <div class="info">
    <h2 class="info-heading">Who I am</h2>
    <p class="info-subHeading">
      Front-end web developer
    </p>
    <p>
      A fast growing talented developer with experience in building visually appealing interfaces using suitable
      web technologies and following best practices.
    </p>
    <p>
      Working experience  with the following programming tools
      <abbr title="Hypertext Markup Language">HTML5</abbr>,
      <abbr title="Cascading Style Sheets">CSS3</abbr>,
      <abbr title="Accessible Rich Internet Application">ARIA</abbr>,
      <abbr title="Leaner Style Sheets">LESS</abbr>, Bootstrap, Flexbox, Javascript,
      Typescript, Angular, React,
      <abbr title="Command Line Interface">CLI</abbr>, GIT/Github.<br />
      Experience in building RESTFUL API, understanding of responsiveness design, and web standards
    </p>
    <p>
      Looking foward for a challenging and rewarding career in a dynamic organization.
      Striving for excellence in results at all times toward attaining maximum productivity and accomplishing
      organization goals.
    </p>
  </div>
  <div>
    <img src="/assets/images/cal.jpg" alt="photo" width="200px" id="personal-pic" />
  </div>
</section>
